body {
    padding: 0px;
    margin: 0px;
    background-color: #454db6;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 10px;
    width: 280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-content label {
    color: #fff;
    font-size: 17px;
    opacity: 0.8;
}

.card-content input {
    margin-top: 10px;
    padding: 0px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.card-footer {
    display: flex;
    flex-directi`n: column;
}

.card-footer .submit {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #a13854;
    border: none;
    color: #e1e1e1;
    font-size: 15px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.card-footer a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    opacity: 0.6;
}